@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&display=swap');

html {
  scroll-behavior: smooth;
  display: block;
}

body {
  font-family: 'Quicksand', sans-serif;
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
}

main {
  width: 100%;
}

.banner-container {
  position: relative;
  padding: 0;
}

.banner {
  background-image: url(../public/images/banner.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 650px;
  max-width: 100%;
}

.category-container {
  margin: 1rem;
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
  margin: 40px;
  color: #996F27;
}

h3 {
  text-align: center;
  padding: 30px;
  font-family: 'Quicksand', sans-serif;
}

@media (max-width: 1280px) {
  .banner {
    margin: 0rem;
    height: 630px;
    width: auto;
    filter: none;
    transform: none;
    margin-top: 20px;
  }
}

@media (max-width: 428px) {
  .banner {
    margin: 0rem;
    height: 650px;
    width: auto;
    filter: none;
    transform: none;
    margin-top: 20px;
  }
}

@media (max-width: 800px) {
  .banner {
    margin: 0rem;
    height: 900px;
    width: auto;
    filter: none;
    transform: none;
    margin-top: 20px;
  }
}

@media (max-width: 768px) {
  .banner {
    margin: 0rem;
    height: 650px;
    width: auto;
    filter: none;
    transform: none;
    margin-top: 20px;
  }
}

#meal {
  display: block;
  width: auto;
  height: 400px;
  overflow: auto;
}

.copyright {
  text-align: center;
}

.copyright a {
  text-decoration: none;
  color: black;
}

.copyright a:hover {
  color: #996F27;
}